@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
    font-family: 'Roboto', sans-serif;
}

.title {
    text-align: center;
    font-size: 90px;
}

.list-item {
    list-style-type: none;
}

.link-item {
    text-decoration: none;
    color: navy;
    font-size: 30px;
}

body {
    background-color: rgb(223, 33, 223);
}